#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_zetacoind += debian/examples/*
DEB_INSTALL_MANPAGES_zetacoind += debian/manpages/*

%:
	dh $@ --with bash-completion

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) distclean; fi
	rm -rf Makefile.in aclocal.m4 configure src/Makefile.in src/bitcoin-config.h.in src/build-aux src/qt/Makefile.in src/qt/test/Makefile.in src/test/Makefile.in
	rm -f src/qt/res/icons/zetacoin.png

override_dh_auto_configure:
	chmod +x autogen.sh
	chmod +x share/genbuild.sh
	chmod +x src/leveldb/build_detect_platform
	./autogen.sh
	./configure #--with-incompatible-bdb

override_dh_auto_test:

override_dh_auto_install:
	cp src/qt/res/icons/bitcoin.png src/qt/res/icons/zetacoin.png
	dh_auto_install
