[Desktop Entry]
Encoding=UTF-8
Name=Zetacoin
Comment=Zetacoin P2P Cryptocurrency
Exec=zetacoin-qt %u
Terminal=false
Type=Application
Icon=zetacoin
MimeType=x-scheme-handler/zetacoin;
Categories=Office;Finance;
Name[en_US]=zetacoin-qt.desktop
